.confirmation {
	height: inherit;
	min-height: 100vh;

	.jumbotron {
		margin-top: 12rem;
		padding: 4rem;
		background: rgba($light, .8);

		h1 {
			color: $blue;
			margin: 4rem 0;
			font-size: 5em;
		}
		h2 {
			font-size: 3em;
		    letter-spacing: .05em;
		    margin: 2rem 0 10rem;
		}
		p {
			font-size: 1.8em;
		}
		.content {
			margin: 7rem 0 0;

			p {
				font-size: 2.4em;
				line-height: 1.4em;
				font-weight: 400;
			}
		}
		.line {
			width: 20%;
			margin: 3rem 40% 0;
			height: 1px;
			background: $gray-base;
		}
		ul {
	    	display: block;
		    padding: 0;
		    margin-top: 4rem;

	    	li {
				list-style-type: none;
				display: inline-block;
	    		padding: 0 1%;

	    		i {
				    width: 6rem;
				    height: 6rem;
				    border-radius: 100%;
				    background: #8ec4e7;
				    color: white;
				    font-size: 2.2em;
				    line-height: 6rem;

				    &:hover {
					    background: #262626;
					}
				}
	    	}
	    }
	}
}

@media (max-width: 460px){
	.full.confirmation .jumbotron {
		h2 {
		    font-size: 2em;
		    margin: 2rem 0 6rem;
		}
		p {
		    font-size: 1.4em;
		}
		ul li:first-child {
		    margin: 0 0 4rem;
		}
	}
}