.contact {
	
	.head-contact {
		padding-top: 25rem;

		.contact-box {
			margin-top: 3rem;
			padding: 4rem 2rem;
		    background: rgba($light,.6);

		    input[type="submit"] {
			    text-transform: uppercase;
			    font-size: 2em;
			    padding: 2rem;
			    line-height: 0;
			}
		}
		.slide-right {
		    position: absolute;
		    right: 0;
		    bottom: -2rem;

		    img {
		    	max-width: 100%;
		    }
		}
	}
}
.box{
    display: none;
}
.select2-container {
	width: 100% !important;

	&.select2-container--default .select2-search--inline .select2-search__field {
	    border: none !important;
	}
}


@media (max-width: 1024px){
	.contact .head-contact .slide-right {
		position: inherit;
	}
}
@media (max-width: 768px){
	.contact {
	    height: inherit;

	    .head-contact {
		    padding-top: 12rem;

		    img {
		    	max-width: 100%;
		    }
		}
	}
}
@media (max-width: 460px){
	.contact {
	    height: inherit;

	    .head-contact {
		    padding-top: 5rem;

		    img {
		    	max-width: 100%;
		    }
		}
	}
}