html, body {
    min-height:100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
}
.content {
	max-width: 100%;
	overflow: hidden;
}
.clear {
	clear: both;
}
.blue {
	color: $blue;
}
.alert-container {
	position: relative;
    z-index: 2;
    top: 2rem;
}

/* ==========================
	NAVBAR
============================== */
.navbar-inverse {
    background-color: $blue;
}
#nav {
	width: 100%;
	padding: 0 2%;
	border: 0;
	font-size: 1.2em;
	z-index: 3;

	.navbar-brand {
		font-weight: 600;
		margin: 1rem 0;
		padding: 1.5rem 5%;
		font-size: 2em;
	}
	.navbar-nav > li:first-child > a {
		border: 1px solid rgba($light, .5);

		&:hover {
		  	border: 1px solid $light;
		  	background: rgba($light, .3);
		}
	}
	.navbar-nav > li > a {
		padding: .5rem 15px;
		margin: 1.5rem 0;
		color: $light;
		font-weight: 400;

		&:hover {
		  	color: $medium-gray;
		}
		&:hover, &:focus {
		    text-decoration: none;
		    background-color: transparent;
		}
	}

  	&.affix-top {
		position: absolute;
		top:0;
		left:0;
		z-index:10;
		height:54px;
		background-color:transparent;
		border:0;

		.logo-container {
			display: none;
		}
	}
	&.affix {
		position: fixed;
		top: 0;
		z-index:10;
		-webkit-transition: all .6s ease-in-out;

		.logo-container {
			display: block;
		}
	}
}

.navbar-inverse .navbar-toggle {
    background: transparent;
    border: none;
    padding: 1rem;

    &:focus, &:hover {
    	background-color: transparent;
    }
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    padding: 0;
}
#top-link-block.affix {
	bottom: 0;
	right: 1%;

	a {
		color: $blue;
	    text-decoration: none;
	    background: $dark-gray;
	    padding: 0 2rem 1rem;
	    font-size: 2em;

	    &:hover {
	    	color: $light;
	    }
	}
}

/* ==========================
	CAROUSEL
============================== */
.carousel-inner > .item {
	max-height: 90vh;
	overflow: hidden;

	> img {
    	max-height: auto;
    	width: 100%;
	}
}
.bottom-carousel {
	background: $gray-dark;
	padding-top: 1rem;
	padding-bottom: 1rem;

	.app-available {
		text-align: middle;

		img {
			max-width: 20rem;
		}
	}
	h2 {
		color: $light;
		font-weight: 100;
		letter-spacing: .1em;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.8em;
    	text-transform: initial;
	}
}

/* ==========================
	CONTENT
============================== */
.center {
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
.full{
	background: url("/images/full-background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    z-index: 1;
    position: relative;

    &.student {
		background: url("/images/full-background-student.jpg") no-repeat center center;
	    -webkit-background-size: cover;
	    background-size: cover;

	    .head h1, .head h2 {
		    color: $light;
		}
    }
    &.contact {
    	background: url("/images/full-background-contact.jpg") no-repeat center center;
	    -webkit-background-size: cover;
	    background-size: cover;
    }

    .mask {
    	width: 100%;
	    height: 100vh;
	    min-height: 820px;
	    background: rgba($gray-base,0.6);
	    position: absolute;
    }
    .head {
    	position: relative;
    	font-family: 'Open Sans', sans-serif !important;

    	h1 {
    		color: $light;
		    font-size: 4.2em;
		    margin: 0;
		    font-weight: 600;
		    padding-top: 20%;
		    margin-bottom: 6rem;
		    text-transform: inherit;
		    letter-spacing: .08em;
    	}
    	h2 {
    		text-transform: inherit;
    		font-weight: 100;
    		color: $light;
    	}
    }
    .btn.dark-btn {
		position: relative;
    	margin-top: 10rem;
	}
	.app-available {
		margin-top: 5rem;

		img {
			width: 100%;
			max-width: 240px;
		}
	}
	a.next {
		font-size: 6em;
	    position: relative;
	    color: $blue;
	    font-weight: 100;
	    float: left;
	    line-height: 2em;
	    position: absolute;
    	bottom: 0;
    	left: 0;
    	width: 100%;
    	margin: 0 auto;
	}
}
.btn.dark-btn {
    margin: 2rem auto 0;
    text-align: center;
    width: auto;
    font-size: 1.6em;
    padding: 1.3rem 6rem;
    letter-spacing: .05em;
    background: $dark-gray;
    color: $light;
    font-weight: 400;
}

.slides {
	padding: 5rem 0 5rem;

	&.slide-bg {
		background: url("../images/full-background.jpg") no-repeat center center;
	    background-size: cover;
	    height: auto;
	    padding-bottom: 5rem;
	    position: relative;

	    &.student {
	    	background: url("../images/full-background-student.jpg") no-repeat center center;
	    	background-size: cover;
	    }

	    .slide-left {
	    	position: absolute;
	    	bottom: 5rem;

	    	img {
	    		max-width: 220px;
	    	}
	    }
	    .slide-right {
	    	float: right;
	    }
	}
	&.middle {
		background: rgba($gray-base,.01);
	}

	.icon {
		background: $gray-darker;
	    width: 10rem;
	    height: 10rem;
	    border-radius: 10rem;
	    color: $light;
	    font-size: 3.5em;
	    line-height: 9.5rem;
	    margin-top: 10rem
	}
	h2 {
		font-size: 2.5em;
    	letter-spacing: .05em;
    	color: $blue;
    	font-weight: 500;
    	line-height: 4.5rem;

    	&.title {
    		margin-top: 3rem;
    	}
    	&:after {
    		content: '';
		    width: 20%;
		    margin: 2.5rem 40% 3rem;
		    height: 1px;
		    border-bottom: 3px solid $blue;
		    float: left;
    	}
    	&.title.dark {
    		color: $medium-gray;
    	}
	}
	h3 {
	    font-size: 2em;
	    font-weight: 600;
	}
	h4 {
		font-size: 2.5em;
	    letter-spacing: .05em;
	    margin: 0 0 4rem;
	}
	p {
		font-size: 1.4em;
    	font-weight: 100;

    	&.how {
    		font-size: 1.4em;
		    font-weight: 300;
		    width: 80%;
		    margin: 0 auto;
    	}
	}
	.btn.dark-btn {
	    margin: 2rem auto 0;
	    text-align: center;
	    width: auto;
	    font-size: 1.6em;
	    padding: 1rem 4rem;
	    letter-spacing: .05em;
	    background: $dark-gray;
	    color: $light;
	    font-weight: 100;

	    &.margin {
	    	margin: 5rem auto;
	    }
	}
	img {
		width: 100%;
	}

	&.function {
    	.picto {
    		width: 100%;
    		padding-top: 7rem;
    		margin: 5rem 0;

    		&.audience {
    			background: url("../images/pictos.png") center 0 no-repeat;
    		}
    		&.campagne {
    			background: url("../images/pictos.png") center -7rem no-repeat;
    		}
    		&.kit {
    			background: url("../images/pictos.png") center -14rem no-repeat;
    		}
    		&.chat {
    			background: url("../images/pictos.png") center -21rem no-repeat;
    		}
    		&.search {
    			background: url("../images/pictos.png") center -28rem no-repeat;
    		}
    		&.register {
    			background: url("../images/pictos.png") center -35rem no-repeat;
    		}
    	}
    	p {
			font-weight: 300;
	    	font-size: 1.6em;
	    	background: $light;
	    	height: 7rem;
    	}
	}
}
.logos-list {
	display: block;
	padding: 0;

	li {
		display: inline-block;
		width: 12%;
		margin: 1rem 2%;
	}
}
.dashed-line {
	width: 70%;
	margin: 0 15%;
	height: 1px;
	border-bottom: 1px dashed #eee;
}
.app-sign {
	background: $dark-gray;
	color: $light;
	padding-bottom: 3rem;

	h2 {
		font-size: 2.2em;
	    padding: 3rem 0 2rem;
	    letter-spacing: .05em;
	    font-weight: 300;
	}
	h4 {
		margin: 7rem 0 3rem;
	    font-size: 2em;
	    letter-spacing: .05em;
	    color: rgba($light,.5);
	}
	.inscription {
		padding: 1rem 5rem;
	    font-size: 2.4rem;
	    background: $blue;
	    border-radius: 0;
	    border: none;
	    letter-spacing: .05em;
	}
	.app {
		margin-top: 5rem;

		.col-md-6 {

			&:nth-of-type(1) {
				padding: 0 5% 0 15%;
				text-align: right;
			}
			&:nth-of-type(2) {
				padding: 0 15% 0 5%;
				text-align: left;
			}
			img {
				width: 100%;
				max-width: 210px;
			}
		}
	}
}
.app-foot {
	background: $dark-gray;
	color: $light;
	padding-bottom: 3rem;

	h2 {
		font-size: 2.2em;
	    padding: 5rem 0 4rem;
	    letter-spacing: .05em;
	    font-weight: 300;
	}
	h4 {
		margin: 0 0 3rem;
	    font-size: 2em;
	    letter-spacing: .05em;
	    color: rgba($light,.5);
	}
	.app {
	    margin-top: 0;

	    .col-md-6 {

			&:nth-of-type(1) {
				padding: 0 5% 0 15%;
			}
			&:nth-of-type(2) {
				padding: 0 15% 0 5%;
			}
			img {
				width: 100%;
				max-width: 200px;
			}
		}
	}
}
.social {
	margin-bottom: 0;
	padding: 1.5rem 0;
	background: $blue;
	border-top: 3px solid rgba($light, .5);

	.btn.gray-btn {
	    margin: 1rem;
	    text-align: center;
	    width: auto;
	    font-size: 1.3em;
	    padding: .8rem 4rem;
	    letter-spacing: .1em;
	    background: $medium-gray;
	    color: white;
	    font-weight: 100;
	}
	ul {
		padding: 0;

		li {
			list-style-type: none;
			display: inline-block;
    		padding: 0 0.4%;

    		h2 {
    			margin: 0;
    			line-height: 6rem;
    		}
			i {
			    width: 6rem;
			    height: 6rem;
			    border-radius: 100%;
			    background: $light;
			    color: $blue;
			    font-size: 2.2em;
			    line-height: 6rem;

			    &:hover {
			    	color: $dark-gray;
			    }
			}
		}
	}
}

/* ==========================
	CONTACT
============================== */
.contact-page {
	margin-top: 8rem;
}
label {
    background: #f9f8f8;
    padding: 1rem;
    font-weight: 600;
    letter-spacing: .02em;
}
select, input {
	border: 1px solid #eee;
    border-radius: 0;
    width: 100%;
    height: 3rem;
    margin: .5rem 0;
    border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* ==========================
	MODALS
============================== */
.modal {
		
	.modal-content {

		.modal-title {
			text-transform: uppercase;
			font-weight: 700;
		}

		.modal-body {
			label {
			    background: transparent;
    			padding: 1.5rem 1rem 0;
			    font-weight: 600;
			    letter-spacing: 0;
			}
			select, input {
				border: 1px solid #eee;
			    border-radius: 0;
			    height: 3rem;
			    margin: .5rem 0;
			    border-right: 1px solid #ddd;
	    		border-bottom: 1px solid #ddd;
			}
			label.civilite {
				width: 25%;
				background: transparent;

				input[type=radio] {
					width: auto;
	    			height: auto;
	    			margin: 0 8% 0 0;
				}
			}
			.error {
				color: $red;
			}
			.btn-send {
				width: 30%;
			    border-radius: 0;
			    background: $blue;
			    color: $light;
			    padding: .7rem;
			    font-size: 1.2em;
			    text-transform: uppercase;
			    letter-spacing: .1em;
			    height: auto;
			    margin: 1rem 35%;
			}
		}

		.modal-footer {

		}
	}
}
.error{
	color:$red;
}

/* ======================
	FORMATIONS
========================== */
.full.formations {
    background: url("../images/full-background.jpg") no-repeat center center;
    background-size: cover;
    height: auto;
    padding-bottom: 5rem;

    h1 {
    	position: relative;
    	color: $light;
    	margin: 0;
    	padding: 5rem;
    }

    .jumbotron {
		position: relative;
	    width: 80%;
	    max-width: 600px;
	    margin: 0 auto;
	    background: $light;
	    border-radius: 1rem;
	    padding: 0;

	    .head-jumbo {
	    	padding: 1.5rem 15px;
		    border-bottom: 1px solid $lighter;
		    margin-bottom: 2rem;

	    	h4 {
	    		text-transform: uppercase;
		    	font-weight: 700;
		        margin: 0;
		    	line-height: 1.42857143;
		    	text-align: left;
	    	}
	    }

	    label {
		    background: #f9f8f8;
		    padding: 1rem;
		    font-weight: 600;
		    letter-spacing: .02em;
		    float: left;
		}
		select, input {
		    border: 1px solid #eee;
		    border-radius: 0;
		    width: 100%;
		    height: 3rem;
		    margin: .5rem 0;
		    border-right: 1px solid #ddd;
		    border-bottom: 1px solid #ddd;
		}
		.btn-send {
		    width: 100%;
		    border-radius: 0;
		    background: #008abe;
		    color: #fff;
		    padding: .7rem;
		    font-size: 1.2em;
		    text-transform: uppercase;
		    letter-spacing: .1em;
		    height: auto;
		}
		p {
			font-size: 1em;
		    text-align: left;
		    font-weight: 400;
		}
		.foot-jumbo {
			padding: 1.5rem 15px;
		    text-align: right;
		    border-top: 1px solid $lighter;
		    margin-top: 2rem;
		}
	}
}


/* ==========================
	RESPONSIVE
============================== */
@media (max-width: 1024px){
	.bottom-carousel h2 {
	    letter-spacing: .05em;
	    font-size: 1.5em;
	}
	.modal .modal-content .modal-body .btn-send {
		width: 80%;
    	margin: 1rem 10%;
	}
}

@media (max-width: 768px) {
	.logo img {
	    max-width: 22rem;
	    position: absolute;
	    bottom: 0;
	}
	#nav .navbar-nav > li > a {
	    padding: 1rem .7rem;
	    font-size: .9em;
	}
	.carousel-indicators {
	    bottom: 0rem;
	}
	.bottom-carousel {
		.app-available img {
		    max-width: 100%;
		}
		h2 {
		    letter-spacing: .03em;
		    font-size: 1.1em;
		}
	}

	.full .head img {
	    padding-top: 30%;
	}
	.slides {
		&.slide-bg {
		    padding-bottom: 10rem;

		    .slide-left {
				bottom: 2rem;
			}
		}
	}
}
@media (max-width: 767px){
	.logo img {
	    max-width: 18rem;
	    margin: 0;
	    left: 2%;
	}
	#myCarousel {
		margin-top: 3rem;
	}
	.bottom-carousel h2 {
	    letter-spacing: .05em;
	    font-size: 1.5em;
	}
	.full, .full.formations, .full.confirmation {
		/*background: url("../images/mobile-background-horizontal.jpg") no-repeat center center;*/
		-webkit-background-size: cover;
	    background-size: cover;
	}
	.full .app-available img {
	    max-width: 150px;
	}
	.btn.dark-btn {
	    margin: 5rem auto 0;
	    font-size: 1.8em;
	    padding: 1.5rem 2rem;

	    &.btn-little {
	    	font-size: .8em;
	    }
	}
	.nav > li{
    	text-align: center;
  	}
	.navbar-toggle{
	    padding: 1rem 1%;

	    .icon-bar{
		    background: $light;
		}
	}
  	.navbar-nav {
  		background: $gray-base;
  		margin: 0;
  	}
  	.slides {
		&.function .picto {
		    margin: 0;
		}
		&.slide-bg {
		    padding-bottom: 10rem;

		    .slide-left {
				bottom: 2rem;
			}
		}
		img {
			padding: 3rem 0;
		}
		.icon {
		    margin-top: 5rem;
		}
	}
}

@media (max-width: 460px){
	#myCarousel {
	    margin-top: 4rem;

	    .carousel-inner > .item > img {
		    width: 140%;
		    max-width: 130%;
		    margin-left: -15%;
		}
	}
	
	.bottom-carousel {
		padding-top: 2rem;

		h2 {
	    	letter-spacing: .03em;
	    	font-size: 1.1em;
		}
		.app-available img {
		    max-width: 80%;
		}
	}
	.full, .full.formations, .full.confirmation {
		/*background: url("../images/background-vertical.jpg") no-repeat center center;*/
		-webkit-background-size: cover;
	    background-size: cover;
	}
	.full .head {
		h1 {
	    	font-size: 1.8em;
	    	padding: 20rem 1rem 0;
	    }
	    h2 {
	    	font-weight: 500;
    		font-size: 1.6em;
	    }
	    img {
	    	max-width: 80%;
	    	padding-top: 30% !important;
	    }
	}
	.btn.dark-btn {
	    font-size: 1.4em;
	    padding: 1.2rem 1rem;
	}
	.app-sign {
		padding-top: 2rem;

		h2 {
		    font-size: 2em;
		}
	}
	.slides {
		padding: 2rem 0;

		h2 {
			font-size: 2.7em;

			&.title-school {
				font-size: 1.6em;
				line-height: 3.5rem;
			}
			&.title.dark {
				font-size: 2.2em;
    			line-height: 4rem;
			}
		}
		.btn.dark-btn {
			margin: 0;
			padding: .7rem 2rem;
	    	letter-spacing: 0;
	    	font-size: 1.4em;

	    	&.school-btn {
	    		margin-top: 2.5rem;
	    	}
		}
		p {
			font-size: 1.2em;
		}
	}
	/*.col-md-6.slideInRight {
		margin-top: 4rem;
	}*/
}

@media (max-height: 767px) {
	.full{
    	min-height: 640px;

	    .mask {
		    min-height: 100%;
	    }	
	    .head img {
		    padding-top: 7%;
		}
		.app-available {
			margin-top: 7rem;

			img {
		    	max-width: 175px;
			}
		}
		.btn.dark-btn {
	    	margin-top: 5rem;
		}
		a.next {
			line-height: 1em;
		}
	}
}

@media (max-height: 580px) {
	.full{
    	min-height: 560px;

	    .mask {
		    min-height: 100%;
	    }	
	    .head img {
		    padding-top: 4%;
		}
		.app-available {
			margin-top: 4rem;

			img {
		    	max-width: 160px;
			}
		}
		.btn.dark-btn {
			font-size: 1.6em;
	    	margin-top: 3rem;
		}
		a.next {
			line-height: 0;
		}
	}
}