//== Colors
//
$red:					 red;
$light-red:              #C03A17;
$dark-red:               #782610;

$light-gray:             #f8f9f9;
$gray:                   #ccc;
$medium-gray:		     #414141;
$dark-gray:              #262626;

$light-blue:             #1397F2;
$blue-gray:              #4F6376;

$light:                  white;
$lighter:				 #e5e5e5;

$pink:					 #fd5974;

//## Gray and brand colors for use across Bootstrap.
//
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #668CC1 !default;

$blue:					#8ec4e7;
$dark-blue:				#394264;

$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
