
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// SELECT 2
@import 'node_modules/select2/src/scss/core.scss';

// ANIMATE
@import 'animate';


// STYLES
@import 'home';
@import 'forms';
@import 'confirmations';

